@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.fondo {
	margin: 5px;
	width: 100%;
	height: auto;
	z-index: 10;
	}

header {
	width: 100%;
	height: auto;
	margin: 10px;
	padding: 5px;
	z-index: 20;
	}
nav {  
	position: sticky;
	top: 100px;
	display: flex;
	justify-content: space-around;
	align-content: space-between;
	width: 100%;
  	height: auto;
	padding: 40px;
	margin: 10px;
	background-color: #CEBAF8;
}

nav ul {
	list-style-type: none;
}
#galeria-completa {
	margin: 10px;
	padding: 10px;
	width: 950px;
	height: 950px;
	display: flex;
	align-content: space-around;
	align-items: center;
}
.habilidades-experiencia {
	padding: 10px;
	margin: 10px;
	display: flex;
	justify-content: center;
}
#skills {
	padding: 20px;
	margin: 20px;
	background-color: #CEBAF8; 
}
#experiencia { 
	padding: 20px;
	margin: 20px;
	background-color: #CEBAF8;
}
form {
	padding: 15px;
	margin: 20px;
	border: solid;
	border-color: blueviolet;
	width: 40%;
	height: 500px;
	background-color: #CEBAF8;
}
#formulario {
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding:10px;
	border-radius: 20px;
	align-items: center;
	justify-content:space-around;
}
input {
	width: 50%;
	height: 30px;
		
}
label {
	color: blueviolet;
}
.borrar {
	color: aliceblue;
	border-radius: 5px;
	background-color: blueviolet;	
}

.borrar:hover {
	background: darkmagenta;
}
.enviar {
	color: aliceblue;
	border-radius: 5px;
	background-color: blueviolet;	
}
.enviar:hover {
	background: darkmagenta;
}
 .textarea {
	 width: 70%;
	 height: 100px;
}
.borrar {
	width: 20%;
	height: 30px;
  	display: flex;
  	justify-content: center;
	padding: 5px
}
.enviar {
	width: 20%;
	height: 30px;
  	display: flex;
  	justify-content: center;
	padding: 5px;
}
main {
	width: 100%;
  	height: auto;
  	display: flex;
  	flex-direction: column;
	justify-content: center;
  	align-items: center;
  	gap: 20px;
  	flex-wrap: wrap;
  	padding: 20px;
}
main ul {
	list-style-type: none;	
}	
.sobre-mi {
	display: flex;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
	padding: 10px;
	margin: 10px;
}

.texto-sobremi {
	margin: 10px;
	padding: 10px;
	width: 30%;
}
.mi-foto {
	margin: 5px;
	padding: 5px;
}
.agenda {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
	padding: 10px;
	margin: 10px;
}
.agenda-foto {
	margin: 5px;
	padding: 5px;
	
}
.agenda-texto {
	margin: 10px;
	padding: 10px;
	width: 15%;
}
footer{
  width: 100%vh;
  height: auto;
  background-color: #CEBAF8;
  display: flex;
  justify-content: center;
  padding: 20px;
}
footer img {
  	width: 84px;
  	height: 85px;
  	margin: 15px;
	border: 0px;
}
a {
	text-decoration: none;
	color: indigo;
	font-size: 3em;
	text-align: center;
	font-family: "Source Sans Pro", "Merriweather Sans", "Fira Sans", "sans-serif";
}
@font-face {
	font-family: "Source Sans Pro", sans-serif;
	src: url("fonts/SourceSansPro-Regular.otf") format(opentype);
	} 
a:hover {
	color:aliceblue;
	font-size: 4em;
}
h1 {
	text-align: center;
	font-family: "Source Sans Pro", "Merriweather Sans", "Fira Sans", "sans-serif";
	color: indigo;
	font-size: 6em;
}
@font-face {
	font-family: "Source Sans Pro", sans-serif;
	src: url("fonts/SourceSansPro-Regular.otf") format(opentype);
	font-weight: normal;
	font-style: normal;
	} 
h2 {
	text-align: center;
	font-family: "Source Sans Pro", "sans-serif";
	color: indigo;
	font-size: 3em;
}
@font-face {
	font-family: "Source Sans Pro", "sans-serif";
	src: url("fonts/SourceSansPro-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
h3 {
	font-family: "Source Sans Pro", "sans-serif";
	color: indigo;
	font-size: 2em;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url("fonts/SourceSansPro-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	}

h4 {
	font-family: "Source Sans Pro", "sans-serif";
	color: indigo;
	font-size: 2em;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url("fonts/SourceSansPro-Light.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	} 
.sobre-mi { 
	font-family: "Source Sans Pro", "sans-serif";
	color: rgba(142,142,142,1.00);
}
@font-face {
	font-family: "Source Sans Pro", "sans-serif";
	src: url("fonts/SourceSansPro-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;

}
#experiencia { 
	font-family: "Source Sans Pro", "sans-serif";
	color: dimgrey;
	font-size: 1.5em;
}
@font-face {
	font-family: "Source Sans Pro", "sans-serif";
	src: url("fonts/SourceSansPro-Light.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
.texto-sobremi {
	font-family: "Source Sans Pro", "sans-serif";
	color: rgba(142,142,142,1.00);
	font-size: 1.5em;
	text-align: left;
}
@font-face {
	font-family: "Source Sans Pro", "sans-serif";
	src: url("fonts/SourceSansPro-Light.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
#skills {
	font-family: "Source Sans Pro", "sans-serif";
	color: dimgrey;
	font-size: 1.5em;
}
@font-face {
	font-family: "Source Sans Pro", "sans-serif";
	src: url("fonts/SourceSansPro-Light.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
p {
	font-family: "Source Sans Pro", "sans-serif";
	color: dimgrey;
	font-size: 1.5em;
}
@font-face {
	font-family: "Source Sans Pro", "sans-serif";
	src: url("fonts/SourceSansPro-Light.otf") format("opentype");
	font-weight: normal;
	font-style: normal;	
}


@media screen and (max-width: 600px) {
	.fondo {
	margin: 2px;
	}
header {
	margin: 2px;
	padding: 2px;
	}
nav {  
	flex-direction: column;
  	height: auto;
	padding: 0px;
	margin: 0px;
	}

.mi-foto {
	flex-direction: column;
	margin: 5px;
	width: 80%;
}
	h1 {
		font-size: 3em;
	}
	a {
		font-size: 1.5em;
	}
	a:hover {
	font-size: 2em;
}
	h2 {
		font-size: 1.5em;
	}
	.sobre-mi {
	width: 100%;
	flex-direction: column;
	padding: 2px;
	margin: 2px;
	font-size: 0.8em;
}
	h4 {
		font-size: 1.5em;
	}
.texto-sobremi {
	flex-direction: column;
	justify-content: center;
	font-size: 1em;
	margin: 5px;
	padding: 5px;
	width: 80%;
}
	.fondo {
	margin: 2px;
	}
.habilidades-experiencia {
	padding: 2px;
	margin: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
#skills {
	padding: 10px;
	margin: 10px; 
	font-size: 1em;
	background-color: aliceblue;
}
#experiencia { 
	padding: 10px;
	margin: 10px;
	font-size: 1em;
	background-color: aliceblue;
	}
main {
	margin: 3px;
	padding: 3px;
	}
	footer {
		padding: 5px;
		margin: 5px;
		height: 70px;
	}
	footer img {
		width: 50%;
		height: auto;
	}	
}